html {
  overflow-x: hidden
}

body {
  margin: 0;
  background-color: #252729;
}

input {
  font-size: inherit;
}

input:focus {
  outline: none;
}

.errored {
  background-color: red !important;
}

.calculator-menu {
  background-color: white;
  border-radius: 8px;
  position: absolute;
  left: 4px;
  height: 0;
  overflow: hidden;
  transition: height .13s linear
}

.calculator-menu.open {
  height: 104px;
}

.calculator-menu ul {
  width: 100%;
  height: 100%;
  padding: 0;
  margin: 0;
}

.calculator-menu li {
  display: block;
  height: 50%;
  line-height: 52px;
  text-align: center;
  transition: background-color .2s linear;
  cursor: pointer;
}

.calculator-menu li:hover {
  background-color: #d7d7d7;
}

/* Весь проект */
.main-element {
  width: 90%;
  max-width: 1200px;
  margin: auto;
  margin-top: 20px;
  position: relative;
  font-family: Arial, sans-serif;
  font-size: 30px;
}

.menu-buttons {
  width: 100%;
  height: 50px;
  display: flex;
}

.menu-button {
  width: 300px;
  height: 50px;
  background-color: #8e8e8e;
  float: left;
  border-radius: 8px 8px 0 0;
  line-height: 50px;
  text-align: center;
  cursor: pointer;
  transition: background-color .2s linear;
}

.menu-button:hover {
  background-color: #9d9d9d;
}

.active-button {
  background-color: #d9d9d9 !important;
}

.line {
  width: 100%;
  height: 5px;
  float: left;
}

.line~* {
  margin-top: 20px;
}

/* Калькулятор */
.calculator {
  width: 100%;
  width: 100%;
  border-collapse: separate;
  border-spacing: 4px;
  table-layout: fixed;
  position: relative;
}

.calculator__display>* {
  height: 52px;
  padding: 0;
  padding-right: 1.5%;
  padding-left: 1.5%;
}

.display__input {
  border-radius: 8px 8px 0 0;
  background-color: #83bff5;
  width: 97%;
  border: 0;
  text-align: right;
}

.display__output {
  background-color: #6fa7e0;
  border-radius: 0 0 8px 8px;
  line-height: 50px;
  text-align: right;
}

.calculator td {
  height: 50px;
  vertical-align: middle;
  text-align: center;
  border-radius: 8px;
  padding: 0;
}

.calculator td:not(.calculator__display) {
  cursor: pointer;
}

/* Graph */
.settings {
  color: white
}

.settings__option {
  margin: 20px 0;
}

.settings_params {
  display: flex;
}

.settings_params * {
  max-width: 365px;
  width: 40%;
  background-color: inherit;
  border: 0;
  border-bottom: 2px solid #00b2ff;
  color: white;
  margin-left: 6px;
}

.settings_params .checkbox {
  border-radius: 5px;
  border: 3px solid white;
  width: 21px;
  height: 21px;
  display: inline-block;
  margin-top: auto;
  margin-bottom: auto;
}

.settings_params .checkbox.checked {
  background-color: #0094ff;
}

.settings_params .checkbox::after {
  display: block;
  content: "";
  width: 24px;
  height: 27px;
  border-radius: 60px;
  transition-property: top, left, border;
  transition-duration: .05s;
  position: relative;
  top: -3px;
  left: -3px;
  line-height: 20px;
  padding-left: 3px;
}

.settings_params .checkbox.checked::after {
  content: "✔"
}

.settings_params .checkbox:active::after {
  opacity: 0.15;
  border: 12px solid white;
  top: -15px;
  left: -15px;
}

.settings__buttons {
  width: 100%;
  height: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.settings__buttons * {
  position: relative;
  width: 150px;
  height: 50px;
  cursor: pointer;
  border-radius: 8px;
  border: 0;
  color: black;
  line-height: 50px;
  padding: 0 10px;
  transition: background-color .2s linear;
}

.settings__draw__button {
  margin-right: 100px;
  background-color: #7b4ebb;
  border-bottom: 2px solid #4e2c7e;
}

.settings__draw__button:hover {
  background-color: #9b6dde;
}

.settings__clear__button {
  background-color: #e44099;
  border-bottom: 2px solid #871955;
}

.settings__clear__button:hover {
  background-color: #fa7ac0;
}

.settings__buttons *:active {
  top: 2px;
  border-bottom: 0;
  background-color: #daacd6;
}

.graph__calculator {
  color: black;
}

.wrapper__input {
  width: 97%;
  background-color: #83bff5;
  border-radius: 8px;
  display: flex;
  align-items: center;
}

.wrapper__input * {
  float: left;
}

.graph__calculator .display__input {
  width: 100%;
  height: 100%;
  padding: 0;
  text-align: left;
  padding-left: 3px;
  border-radius: 0;
}

.function-text {
  min-width: 49.2px;
}

.graph__canvas {
  height: 400px;
  width: 100%;
  margin-top: 20px;
  background-color: white;
}

@media (max-width: 550px) {}