html {
  overflow-x: hidden
}

body {
  margin: 0
}

#calculator {
  margin: auto;
  margin-top: 20px;
  position: relative;
  font-family: Arial, sans-serif;
  font-size: 30px;
  width: 90%;
}

.header {
  height: 100px;
  padding-left: 4px;
  padding-right: 4px;
}

.disp {
  height: 100%;
  width: calc(83.444% - 2px);
  float: left;
}

.disp>* {
  height: 50%;
  padding-right: 1.5%;
  padding-left: 1.5%;
}

.input {
  border-radius: 8px 8px 0 0;
  background-color: #83bff5;
}

.input input {
  width: 100%;
  height: 97%;
  border: 0;
  background-color: rgba(0, 0, 0, 0);
  text-align: right;
  font-size: inherit;
  float: right;
}

.input input:focus {
  outline: none;
}

.output {
  background-color: #6fa7e0;
  border-radius: 0 0 8px 8px;
  position: relative;
}

.content {
  width: 97%;
  height: 30px;
  position: absolute;
  top: 50%;
  transform: translate(0, -50%);
  text-align: right;
}

.buttons {
  width: calc(16.556% - 2px);
  height: 100%;
  float: right;
}

.buttons>* {
  width: 100%;
  height: calc(50% - 2px);
  float: left;
  border-radius: 8px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

table {
  width: 100%;
  border-collapse: separate;
  border-spacing: 4px;
  table-layout: fixed;
}

td {
  height: 50px;
  width: 16%;
  vertical-align: middle;
  text-align: center;
  border-radius: 8px;
  padding: 0;
  cursor: pointer;
}

.func {
  background-color: #75a3fc;
}

.num {
  background-color: #a8b1c2;
}

.oper {
  background-color: #618fe8;
}

.var {
  background-color: #6ecff2;
}

.del {
  background-color: #e6899c;
  margin-bottom: 4px;
}

.answ {
  background-color: #8d89e6;
}

.canv-area {
  height: 400px;
  border: 1px solid;
  border-radius: 8px;
  overflow: hidden;
}

.canv {
  width: 100%;
  height: 100%;
}

@media (max-aspect-ratio: 8/10) {
  table {
    border-spacing: 10px
  }

  td {
    display: none;
    width: 25%;
    height: 170px;
    border-radius: 20px;
  }

  td:nth-last-child(1), td:nth-last-child(2),
  td:nth-last-child(3), td:nth-last-child(4) {
    display: table-cell !important;
  }

  #calculator {
    font-size: 60px;
    width: 80%;
  }

  .header {
    height: 340px;
    padding-left: 10px;
    padding-right: 10px
  }

  .disp {
    width: calc(75% - 2.5px);
  }

  .input {
    border-radius: 20px 20px 0 0;
  }

  .output {
    border-radius: 0 0 20px 20px;
  }

  .buttons {
    width: calc(25% - 7.5px);
  }

  .buttons>* {
    border-radius: 20px;
  }

  .content {
    height: 60px;
  }

  .canv-area {
    height: 800px;
    border-radius: 20px;
  }
}